{% extends 'layout.html' %}
{% block title %} Sign in {% endblock %}
{% block body %}
<nav>
    <a class="sign_in" href="/sign_in">Sign in</a>
</nav>
<div class="sign sign_up">
    <form method="POST" action="#">
        <div id="username">
            <label for="Username/Email" class="block_label">Username/Email: </label>
            <input required class="userpass" name="username_email" placeholder="Username/Email" type="text"/>
        </div>
        <div id="password">
            <label for="password" class="block_label">Password: </label>
            <input required class="userpass" name="password" placeholder="password" type="password"/>
            <label class="repeatpass block_label" for="password">Confirm Password: </label>
            <input required class="userpass" name="password2" placeholder="password" type="password"/>
        </div>
        <div>
            <label for="checkbox" class="block_label">What do you need rext for:</label>
            <label for="checkbox" required class="permissions permissions1">Share books</label>
            <input class="input_perm" name="permission" type="radio" value="sell:books" placeholder="">
            <label for="checkbox" class="permissions">Read books</label>
            <input class="input_perm" required name="permission" type="radio" value="read:books" placeholder="">
        </div>
        <input class="login" type="Submit" value="Sign up">
    </form>
</div>
{% endblock %}