{% extends 'layout.html' %}
{% block title %} Sign in {% endblock %}
{% block body %}
<nav>
    <a class="sign_in" href="/sign_up">Sign up</a>
</nav>
<div class="division1">
    {% for message in get_flashed_messages() %}
        <h2 class="flash1">{{ message }}</h2>
    {% endfor %}
</div>
<div class="sign">
    <form method="POST" action="#">
        <div id="username">
            <label for="Username/Email" class="block_label">Username/Email: </label>
            <!--<input required class="userpass" name="useremail" placeholder="Username/Email" type="text"/>-->
            {{ form.useremail(class_ = 'userpass', placeholder='Username/Email') }}
        </div>
        <div id="password">
            <label for="password" class="block_label">Password: </label>
            <!--<input required class="userpass" name="password" placeholder="password" type="password"/>-->
            {{ form.password(class_ = 'userpass', placeholder='password') }}
        </div>
        <input class="login" type="Submit" value="Sign in">
    </form>
</div>
{% endblock %}