{% extends 'layout.html' %}
{% block title %} Sign in {% endblock %}
{% block body %}
<nav>
    <a class="sign_in" href="/sign_in">Sign in</a>
</nav>
<div class="sign sign_up">
    <form id="form1" method="POST" action="#">
        <div id="username">
            <label for="Username/Email" class="block_label">Username/Email: </label>
            {{ form.useremail(class_ = 'userpass', placeholder='Username/Email') }}
        </div>
        <div id="password">
            <label for="password" class="block_label">Password: </label>
            {{ form.password(class_ = 'userpass', placeholder='password') }}
            <label class="repeatpass block_label" for="password">Confirm Password: </label>
            {{ form.password_repeat(class_ = 'userpass', placeholder='password') }}
        </div>
        {% if form.permission %}
            <div>
                <label for="checkbox" class="block_label">Register as a:</label>
                {% for subfield in form.permission %}
                    <tr>
                        <label for="radio" required class="permissions permissions1">{{ subfield.label }}</label>
                        <td>{{ subfield(class_='input_perm') }}</td>
                    </tr>
                {% endfor %}
            </div>
        {% endif %}
        <input class="login" type="Submit" value="Sign up">
    </form>
</div>
{% endblock %}