{% extends 'layout.html' %}
{% block title %} Sign in {% endblock %}
{% block body %}
<nav>
    <li class="sign_in"><a href="#">Sign up</a></li>
</nav>
<div id="sign_in">
    <form method="POST" action="#">
        <div id="username">
        <label for="Username/Email">Username/Email: </label>
        <input class="userpass" name="username_email" placeholder="Username/Email" type="text"/>
        </div>
        <div id="password">
        <label for="password">Password: </label>
        <input class="userpass" name="password" placeholder="password" type="password"/>
        </div>
        <input class="login" type="Submit" value="Sign in">
    </form>
</div>
{% endblock %}